---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import TimeLineList from "../components/cv/TimeLineList.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Thinh D. Dao</div>
  </div>

  <div class="mb-10 text-justify">
    I am a 3rd year CS student at VinUni. I am fortunate to work as a research assistant at  <a class="link" target="_blank" href="https://sail-research.com/">VinUni Security and Artificial Intelligence Lab</a> for the past 2 years, under the supervision of Prof. Kok-Seng Wong and Prof. Khoa D. Doan. My research lies in the intersection of Adversarial Machine Learning,
    Federated Learning (FL) and Explainable AI (XAI). In addition to my research, I am also passionate about learning Reinforcement Learning (RL) and Large Language Models (LLMs). I find the intersection of LLMs and RL particularly fascinating, especially in building intelligent systems that can learn to improve their responses based on feedback from the environment.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.S. in Computer Science"
      subtitle="2021 - 2024 @ VinUni, Ha Noi, Vietnam"
    >
      GPA: 3.54 / 4.0
    </TimeLineElement>
    <TimeLineElement
      title="Tran Phu High School for the Gifted"
      subtitle="2018 - 2021, Hai Phong, Vietnam"
    >
      GPA: 3.72 / 4.0
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Research Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineList
      title="Research Assistant — Security and Artificial Intelligence Lab"
      subtitle="Dec 2021 - Present @ VinUniversity, Hanoi, Vietnam"
    > 

    <li>Currently working on the project "Federated Backdoorbench", building an easy-to-use, flexible, and privacy-preserving framework for testing backdoor attacks in federated learning systems.</li>
    <li>Worked on the project "Towards Clean-Label Backdoor Attacks in the Physical World" and "Benchmarking Federated Learning on edge devices" under the supervision of <a href="https://scholar.google.com/citations?user=WQyULhIAAAAJ&hl=en" style="color: blue;">Prof. Kok-Seng Wong</a> and <a href="https://scholar.google.com/citations?user=Zz2hMgcAAAAJ&hl=en" style="color: blue;">Prof. Khoa D. Doan</a>.</li>
    <li>Conduct weekly presentations, do literature reviews, brainstorm research ideas, collect a new dataset, run experiments, and write a manuscript. </li>
    <li>Mentor 2 junior research assistants in doing research on Backdoor Attacks in Federated Learning.</li>

    </TimeLineList>
    
    <TimeLineList
      title="Research Assistant - VinUni-Illinois Smart Health Center (VISHC) Summer School 2023"  
      subtitle="Jul 2023 - Aug 2023, Ha Noi, Vietnam"
    >
      <li>Got a fully-funded scholarship to participate in an intensive 4-week research training program, which features tutorials and seminars by outstanding researchers from around the world.</li>
      <li>Present preliminary results of our work to the professors on showcase day. The report can be found <a href="https://drive.google.com/file/d/1ym7NrtmS6vQJ5cNGATUNDIc63dZSqBHI/view?usp=sharing" style="color: blue;">here</a>.</li>
    </TimeLineList>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Teaching Assistant / Project Designer - COMP2050 Artificial Intelligence course"
    subtitle="Jan 2024 - May 2024 @ VinUni, Hanoi, Vietnam"
    >
      Designed two main projects for the course: Tic Tac Toe and Gomoku AI (<a href="https://github.com/Ducthinh19102003/Artificial-Intelligence-projects/tree/main" target="_blank" style="color: blue;">Github</a>). These projects challenge students to implement various AI algorithms capable of outperforming pre-programmed bots. The Gomoku AI bots features four levels of difficulty, ranging from a beginner reflex agent to a master-level AI using the Threat-space search algorithm. Custom test cases were also crafted to rigorously evaluate the decision-making processes of the students' AI agents.
    </TimeLineElement>

    <TimeLineList
      title="Founder / Product Manager - Unifix, a peer-to-peer academic mentorship platform"
      subtitle="Jul 2022 -- Dec 2022 @ VinUni, Hanoi, Vietnam"
    >
      <li>Unifix is an online platform that offers peer-mentorship services for college-level students on academic subjects. Our startup successfully secured an initial funding of 3,000 USD from the program TechYouth Incubator and Entrepreneurship Lab at VinUni.</li>
      <li>Led a cross-functional team of 7 people (3 in business, 4 developers) to build the website using Agile methodology.</li>
      <li>Conducted user interviews, surveys, and market research to understand user needs, pain points, and preferences.</li>
      <li>Gathered user inputs (needs, requirements, and feedback) to define key features and the product roadmap.</li>
    </TimeLineList>

    <TimeLineList
    title="SAT & Java tutor - Self-employed"
    subtitle="Jul 2021 - Present"
    >
      <li>Created and taught SAT classes for small groups of 1-3 students.</li>
      <li>Many students achieve good results: 7 scored 1500+ and 15 scored 1400+.</li>
    </TimeLineList>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards & Honours</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <b> Dean's List (Vin University, 2021-2022): </b> Awarded to top-10% of students with highest GPA in an academic year.
    </li>
    <li>
      <b> 90% Scholarship (Vin University, 2021 - 2026): </b> The scholarship covers 90% of the tuition fee, only awarded to students with outstanding academic background and achievements.
    </li>
    <li>
      <b> National Third Prize (Vietnam Science and Engineering Fair, 2018).</b> 
    </li>
  </ul>
  
  
</BaseLayout>
